.main {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub {
    width:  3050px;
    height: 1080px;
    margin-left: auto;
    margin-right: auto;
    background: #959596;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.title {
    margin-top: 150px;
    margin-bottom: 120px;
    font-size: 53px;
}